<?xml version="1.0"?>
<!--
  ~ @author     The S Group <support@sashas.org>
  ~ @copyright  2022  Sashas IT Support Inc. (https://www.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="TheSGroup_NotFoundUrlLog">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
